
_site
.jekyll-cache
pages/.DS_Store
pages/tags.md
/.obsidian.ipad/*
/_notes/templates/*
/_notes/Tasks

# to exclude Obsidian's settings (including plugin and hotkey configurations)
.obsidian/

# OR only to exclude workspace cache
.obsidian/workspaces.json
.obsidian/workspace

# Add below lines to exclude OS settings and caches
.trash/
.DS_Store

