<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text"> <h3>
        <p>The MyndAtlas project is an experiment, currently mostly chaos.
        </p>
        <p> This is an experiment in documenting some thoughts and ideas I'm developing regarding the creation and use of note-systems in a way that I hope will ultimately be accessible to others, though it's definitely not there yet. The aim is somewhere between "leaving a trail of breadcrumbs" and "working with the garage door up". (Related: Digital Gardens and Learning in Public.)
        </p>
        <p>Have a look at <a href="{{'/welcome' | relative_url}}">Welcome to the MyndAtlas Project</a> if you haven't seen it already, check the <a href="{{'/status' | relative_url}}">Status of the MyndAtlas Project</a> which may or may not have been updated recently, or see the notes by most recently changed via the <a href="{{'/notes' | relative_url}}"> Notes Feed </a>.
        </p>
        </h3> 
</div> </div>

