<div class="column is-4">
    <div class="block homeblock">
    <h1>The MyndAtlas Project</h1>
    
    <p> The MyndAtlas Project is (and is becoming) a selection of notes about my note-system and my current thinking on the subject, as well as some practical notes on my current implementation using Obsidian and Git Hub. 
    </p>
    <p> Check out <a href="../posts/welcome">Welcome,</a> jump in to the <a href="../notes/Atlas">Atlas,</a> or go to <a href="../notes"> notes </a> to see the note feed. 
    </p>
    
    </div>
</div>