<div class="column is-4">
    <div class="block homeblock">
    <h1>The MyndAtlas Project</h1>
    
    <p> This is an experiment, a bit of proof-of-concept, and a very sketchy sort of draft.
    </p>
    <p> I am not sure yet quite where it's headed.
	</p>
    <p> If you want to poke around, you may want to start with <a href="../notes/Welcome-to-the-MyndAtlas-Project">Welcome to The MyndAtlas Project,</a> jump in to the <a href="../notes/Atlas">Atlas,</a> or go to <a href="../notes"> notes feed </a> to see what's recently been added/updated. 
    </p>

    </div>
</div>